*{
	margin:0;
}
html,body{
  height:100%;
}
h1,h2,h3,h4{
    text-align:center;
	font-size:30px;
	text-color:red;
 }
 
tr:nth-child(odd){
background-color:gray;
}
h5,h6,p{
	
	margin-bottom:20px;
}
nav{
    background: url("http://bharghava.ucoz.net/harathi/LOGO.png") no-repeat;
    position:fixed;
	height:50px;
	width:100%;
	background-color:rgba(0,0,0,.5);
	z-index:99;
	text-align:center;
}
nav a{
     text-decoration:none;
	 color:white;
	 margin-left:30px;
	 line-height:50px;
}
.sect{
	height:100%;
	background-size:cover;
    background-repeat:no-repeat;
	background-attachment:fixed;
	
}
.subSection{
	height:50%;
     background-color: aqua;
	 text-align:center;
	 color:red;  
}
.subSection1{
	height:170%;
     background-color: aqua;
	 text-align:center;
	 color:red;  
}

.subSection2{
	height:70%;
     background-color: aqua;
	 text-align:center;
	 color:red;  
}
.subSection3{
	height:200%;
     background-color: aqua;
	 text-align:center;
	 color:red;  
}


.table table-striped{
color:red;
}


.sectOne{
 background-image: url("harts1.jpeg") ;
}
.sectTwo{
background-image: url("http://bharghava.ucoz.net/harathi/harts2.jpg");
}
.sectThree{
  background-image: url("http://bharghava.ucoz.net/harathi/harts3.jpg");
}
.sectFour{
background-image:url("http://bharghava.ucoz.net/harathi/harts5.jpg");
}
/** footer**/
.row-footer{
 background:#f26d7d;
 margin:0px auto;
 padding:20px 0px 20px 0px;
}
address{
 color:#0f0f0f;
}
.row-content{
  margin:0px auto;
  padding:50px 0px 50px 0px;
  border-bottom:1px ridge;
  min-height:400px;

}
.td{
color:red;
}
